.post-container {
  .container;
  header {
    color:black;
  }
  margin-top:50px;
  margin-bottom:0;
  background:white;
  min-height:100%;

  article{
    .cover {
      margin-right: -12.5px; // Remove right gap
      margin-left: -12.5px;  // Remove left gap
      padding-bottom: 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height:200px;
    }
  }
}
