.post-container {
  .make-md-column-offset(2);
  .make-md-column(8);

  article{

    margin:100px 0 0 0;
    padding-bottom:100px;

    .title {
      font-size: 4em;
      padding-bottom:20px;
      margin-bottom:50px;
      border-bottom:1px solid #DDD;
    }
    .cover {
      margin: 0 -15px 50px -15px;
      @media (min-width: @screen-sm-min) {
        margin:0 0 50px 0;
      }

      padding-bottom: 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height:200px;
      margin-bottom:50px;
    }
    .content {
      letter-spacing: .1rem;
      font-style: normal;
      color: #333332;
      -webkit-font-smoothing: antialiased;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      line-height: 1.5;

    }
  }
  .comments {

  }
}
.codepen, .highlight {
  padding: 50px 0 50px 0 !important;
}
