.grid {
  .container;
  margin-top: 50px;

  .post {
    .make-xs-column(12);
    .make-md-column(6);

    margin-bottom: 5px;

    &:nth-child(odd) {
      .make-xs-column(12);
      .make-md-column(5);

      &::after {
        content: '';
        position: absolute;
        top: -20%;
        left: 120%;
        height: 130%;
        width: 4px;
        background: lighten(#3F406C, 10%);
        .hidden-mobile;
      }
      .content::after {
        position: absolute;
        margin-top:200px;
        top: 20%;
        left:99%;
        .arrow-right;
        .hidden-mobile;
      }
      .content::before{
        position: absolute;
        margin-top:195px;
        top: 20%;
        left: 120%;
        margin-left: -23px;
        z-index:999;
        border:15px solid #3F406C;
        background: lighten(#3F406C, 10%);
        width:50px;
        height:50px;
        .circle-timeline;
        .hidden-mobile;
      }
    }

    &:nth-child(even) {
      .make-xs-column(12);
      .make-md-column(5);
      .make-md-column-offset(7);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -20%;
        height: 110%;
        width: 4px;
        background: lighten(#3F406C, 10%);
        .hidden-mobile;
      }
      .content::after {
        position: absolute;
        margin-top:200px;
        top: 20%;
        left:-17px;
        .arrow-left;
        .hidden-mobile;
      }
      .content::before{
        position: absolute;
        margin-top:195px;
        top: 20%;
        left: -20%;
        margin-left: -23px;
        z-index:999;
        border:15px solid #3F406C;
        background: lighten(#3F406C, 10%);
        width:50px;
        height:50px;
        .circle-timeline;
        .hidden-mobile;
      }
    }

    &:nth-child(1) {
      margin-top:0;
    }
    .cover {
      margin-right: -12.5px; // Remove right gap
      margin-left: -12.5px;  // Remove left gap
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height:200px;
    }

    .content{
      .row;
      padding: 0 25px 0 25px;
      margin-right: -12.5px; // Remove right gap
      margin-left: -12.5px;  // Remove left gap
      height:150px;
      background:@grid-post-content-background;
      .link {
        font-size:2em;
      }
      .summary {
        color:white;
        height:100px;
        overflow:auto;
        .read {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    .info {
      .row;
      padding: 0 25px 0 25px;
      border: 1px solid ligthen(@grid-post-content-background, 10%);
      background: @grid-post-content-background;
      margin-right: -12.5px; // Remove right gap
      margin-left: -12.5px;  // Remove left gap
      height: 50px;
      line-height: 50px;
      .date, .author {
        display:inline;
        .icon, .text {
          display:inline;
          padding-right:10px;
        }
        padding: 6px 12px 6px 12px;
        color:white;
      }
    }
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid @grid-post-content-background;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-right:20px solid @grid-post-content-background;
}

.circle-timeline {
  border-radius:100%;
}
