// BODY
@body-background: white;
@body-font: Helvetica;

// LINK
@link-color: black;

// HEADER
@header-height: 50px;
@header-color: white;
@header-background: rgba(0,0,0, 0.1);

// GRID
@grid-post-content-background: white;
@grid-post-arrow-background: @grid-post-content-background;
