="---\n"
="layout: default\n"
="---\n"

.post-container

  article
    .title {{ page.title | upcase }}
    .cover(style="background-image: url('{{ page.cover | prepend: site.url }}')")
    .content {{ content }}

  #disqus_thread.comments
  script(src="http://makestartupadmin.disqus.com/embed.js", async).
