.profile-container
  .avatar
    img.img-circle(src="https://avatars1.githubusercontent.com/u/6457557")
  .content Salut bienvenue sur mon blog je vais essayer de partager avec vous ce que j'apprend tous les jours sur le web bla bla bla
